<%= render 'search_form' %>
<% if params[:departure_airport_id] != nil %>
  <% if @flights.empty? %>
    <p>There are no available flights</p>
  <% else %>
    <%= form_with url: new_booking_path, method: :get do |form| %>
      <%= form.hidden_field :passengers, value: params[:passengers] %>
      <ul>
        <% @flights.each do |flight| %>
          <li>
            <%= form.radio_button :flight_id, flight.id %>
            <%= "#{flight.departure_airport.airport} to #{flight.arrival_airport.airport}, #{flight.start.strftime('%Y-%m-%d %H:%M')}" %>
          </li>
        <% end %>
        <%= form.submit 'Choose flight' %>
      </ul>
    <% end %>
  <% end %>
<% end %>