<h1>Flight detail</h1>
<ul>
  <li>Flight number: <%= @flight.id %></li>
  <li>Flight date: <%= @flight.start.strftime('%d %b %Y - %H:%M %Z') %></li>
  <li>Departure airport: <%= @flight.departure_airport.airport %></li>
  <li>Arrival airport: <%= @flight.arrival_airport.airport %></li>
</ul>

<h1>Passengers</h2>
<ul>
  <% @passengers.each do |passenger| %>
    <li>
      <p>Name: <%= passenger.name %></p>
      <p>Email: <%= passenger.email %></p>
    </li>
  <% end %>
</ul>